* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 1.5;
    background: #1A1E26;
    color: #fff;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 120px;
    line-height: .8;
}
h2 {
    font-size: 48px;
    line-height: 1;
}
h2 span {
    display: block;
}
